.dot-nav {
  font-size: 0;
}
.dot-nav li {
  position: relative;
}
.dot-nav li ul {
  display: none;
  position: absolute;
  z-index: 901;
  min-width: 200px;
  left: 0;
}
.dot-nav li:hover > ul {
  display: block;
}
.dot-nav a {
  transition-duration: 0.3s;
  transition-property: background-color, color;
  display: block;
  white-space: nowrap;
}
.dot-nav li {
  display: inline-block;
  font-size: 1rem;
  white-space: nowrap;
}
.dot-nav li ul li ul {
  top: 0;
  left: 100%;
}
.dot-nav li ul li {
  display: block;
}
.dot-nav_scroll {
  position: relative;
}
.dot-nav_scroll > ul {
  overflow: auto;
  white-space: nowrap;
  scroll-snap-type: x proximity;
}
.dot-nav_scroll li {
  position: static;
  scroll-snap-align: center;
}
.dot-nav_scroll li ul {
  right: 0;
  max-height: 50vh;
  overflow-y: auto;
}
.dot-nav_scroll li ul ul {
  overflow-y: visible;
  height: auto;
  position: static;
  display: block;
  top: 100%;
  left: 0;
  padding-left: 1.25em;
  font-size: 0.875em;
}
@media only screen and (min-width: 1000px) {
  .dot-nav_scroll {
    position: inherit;
  }
  .dot-nav_scroll > ul {
    overflow: visible;
    white-space: inherit;
    scroll-snap-type: none;
  }
  .dot-nav_scroll li {
    position: relative;
    scroll-snap-align: none;
  }
  .dot-nav_scroll li ul {
    position: absolute;
    right: inherit;
    max-height: inherit;
    overflow-y: visible;
    display: none;
  }
  .dot-nav_scroll li ul ul {
    overflow-y: inherit;
    position: absolute;
    display: none;
    top: inherit;
    left: inherit;
    padding-left: inherit;
    font-size: inherit;
  }
}

.dot-nav-x {
  font-size: 0;
}
.dot-nav-x li {
  position: relative;
}
.dot-nav-x li ul {
  display: none;
  position: absolute;
  z-index: 901;
  min-width: 200px;
  left: 0;
}
.dot-nav-x li:hover > ul {
  display: block;
}
.dot-nav-x a {
  transition-duration: 0.3s;
  transition-property: background-color, color;
  display: block;
  white-space: nowrap;
}
.dot-nav-x li {
  display: inline-block;
  font-size: 1rem;
  white-space: nowrap;
}
.dot-nav-x_scroll {
  position: relative;
}
.dot-nav-x_scroll > ul {
  overflow: auto;
  white-space: nowrap;
  scroll-snap-type: x proximity;
}
.dot-nav-x_scroll li {
  position: static;
  scroll-snap-align: center;
}
.dot-nav-x_scroll li ul {
  right: 0;
  max-height: 50vh;
  overflow-y: auto;
}
.dot-nav-x_scroll li ul ul {
  overflow-y: visible;
  height: auto;
  position: static;
  display: block;
  top: 100%;
  left: 0;
  padding-left: 1.25em;
  font-size: 0.875em;
}
@media only screen and (min-width: 1000px) {
  .dot-nav-x_scroll {
    position: inherit;
  }
  .dot-nav-x_scroll > ul {
    overflow: visible;
    white-space: inherit;
    scroll-snap-type: none;
  }
  .dot-nav-x_scroll li {
    position: relative;
    scroll-snap-align: none;
  }
  .dot-nav-x_scroll li ul {
    position: absolute;
    right: inherit;
    max-height: inherit;
    overflow-y: visible;
    display: none;
  }
  .dot-nav-x_scroll li ul ul {
    overflow-y: inherit;
    position: absolute;
    display: none;
    top: inherit;
    left: inherit;
    padding-left: inherit;
    font-size: inherit;
  }
}

.dot-nav-y li {
  position: relative;
}
.dot-nav-y li ul {
  display: none;
  position: absolute;
  z-index: 901;
  min-width: 200px;
  top: 0;
  left: 100%;
}
.dot-nav-y li:hover > ul {
  display: block;
}
.dot-nav-y a {
  transition-duration: 0.3s;
  transition-property: background-color, color;
  display: block;
  white-space: nowrap;
}
.dot-nav-y li {
  display: block;
}
.dot-nav-y_scroll {
  position: relative;
}
.dot-nav-y_scroll > ul {
  overflow: auto;
  white-space: nowrap;
  scroll-snap-type: x proximity;
}
.dot-nav-y_scroll li {
  position: static;
  scroll-snap-align: center;
}
.dot-nav-y_scroll li ul {
  right: 0;
  max-height: 50vh;
  overflow-y: auto;
}
.dot-nav-y_scroll li ul ul {
  overflow-y: visible;
  height: auto;
  position: static;
  display: block;
  top: 100%;
  left: 0;
  padding-left: 1.25em;
  font-size: 0.875em;
}
@media only screen and (min-width: 1000px) {
  .dot-nav-y_scroll {
    position: inherit;
  }
  .dot-nav-y_scroll > ul {
    overflow: visible;
    white-space: inherit;
    scroll-snap-type: none;
  }
  .dot-nav-y_scroll li {
    position: relative;
    scroll-snap-align: none;
  }
  .dot-nav-y_scroll li ul {
    position: absolute;
    right: inherit;
    max-height: inherit;
    overflow-y: visible;
    display: none;
  }
  .dot-nav-y_scroll li ul ul {
    overflow-y: inherit;
    position: absolute;
    display: none;
    top: inherit;
    left: inherit;
    padding-left: inherit;
    font-size: inherit;
  }
}

.dot-nav-tree li {
  position: relative;
}
.dot-nav-tree li ul {
  display: none;
}
.dot-nav-tree li:hover > ul {
  display: block;
}
.dot-nav-tree a {
  transition-duration: 0.3s;
  transition-property: background-color, color;
  display: block;
  white-space: nowrap;
}
.dot-nav-tree_scroll {
  position: relative;
}
.dot-nav-tree_scroll > ul {
  overflow: auto;
  white-space: nowrap;
  scroll-snap-type: x proximity;
}
.dot-nav-tree_scroll li {
  position: static;
  scroll-snap-align: center;
}
.dot-nav-tree_scroll li ul {
  right: 0;
  max-height: 50vh;
  overflow-y: auto;
}
.dot-nav-tree_scroll li ul ul {
  overflow-y: visible;
  height: auto;
  position: static;
  display: block;
  top: 100%;
  left: 0;
  padding-left: 1.25em;
  font-size: 0.875em;
}
@media only screen and (min-width: 1000px) {
  .dot-nav-tree_scroll {
    position: inherit;
  }
  .dot-nav-tree_scroll > ul {
    overflow: visible;
    white-space: inherit;
    scroll-snap-type: none;
  }
  .dot-nav-tree_scroll li {
    position: relative;
    scroll-snap-align: none;
  }
  .dot-nav-tree_scroll li ul {
    position: absolute;
    right: inherit;
    max-height: inherit;
    overflow-y: visible;
    display: none;
  }
  .dot-nav-tree_scroll li ul ul {
    overflow-y: inherit;
    position: absolute;
    display: none;
    top: inherit;
    left: inherit;
    padding-left: inherit;
    font-size: inherit;
  }
}

.dot-nav-horizontal_right li ul {
  left: inherit;
  right: 0;
}
.dot-nav-horizontal_right li:nth-last-child(2) > ul {
  right: -6em;
}
.dot-nav-horizontal_right li:nth-last-child(3) > ul {
  right: -9em;
}
.dot-nav-horizontal_right li:nth-last-child(4) > ul {
  right: -12em;
}
.dot-nav-horizontal_right li:nth-last-child(5) > ul {
  right: -15em;
}
.dot-nav-horizontal_right li:nth-last-child(6) > ul {
  right: -18em;
}
.dot-nav-horizontal_right li:nth-last-child(7) > ul {
  right: -21em;
}
.dot-nav-horizontal_right li:nth-last-child(8) > ul {
  right: -24em;
}
.dot-nav-horizontal_right li:nth-last-child(9) > ul {
  right: -27em;
}
.dot-nav-horizontal_right li:nth-last-child(10) > ul {
  right: -30em;
}