.dot-area,
#dot-head-area, #dot-main-area, #dot-foot-area {
  min-width: 320px;
  max-width: 1000px;
  margin: 0 auto;
}
@media only screen and (min-width: 1000px) {
  .dot-area,
#dot-head-area, #dot-main-area, #dot-foot-area {
    max-width: 1000px;
  }
}

#dot-head-area.dot-resize, #dot-main-area.dot-resize, #dot-foot-area.dot-resize, .dot-resize #dot-head-area, .dot-resize #dot-main-area, .dot-resize #dot-foot-area {
  max-width: inherit;
}

.dot-width_left {
  margin: 0;
}
.dot-width_right {
  margin: 0 0 auto 0;
}

#dot-head-area, #dot-foot-area {
  position: relative;
}
.align_left {
  text-align: right;
}
.align_center {
  text-align: center;
}
.align_right {
  text-align: right;
}

#dots {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#dot-main {
  flex-grow: 1;
}